body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #ffe6e6;
    padding: 20px;
}

.container {
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

h1, h2 {
    color: #ff4d4d;
}

#contador {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.calendario, .mensagens {
    width: 80%;
    max-width: 600px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    text-align: center;
}

.mensagens img {
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
}
